h1 {
    text-align: center;
}

th {
    background-color: lightblue;
}

h3 {
    text-align: left;
}


#task-imgs {
    display: flex;
    align-items: center;
    color: fuchsia;
    text-align: left;

}


h2 {
    text-align: center;
}


#decoration {
    display: flex;
    justify-content: space-evenly;
}

.circle {
    opacity: .5;
    fill: lightblue;
}

.rect {
    fill: yellow;
    stroke: black;
    stroke-width: 4px ;
}

.circle:hover {
    stroke: black;
    stroke-width: 4px;
}

.rect:hover{
    fill: violet;
}